div {
    background-color: white;
    margin-top: 20px;
}

.container {
    position: relative;
    margin-top: 20px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}