#body-row {
    margin-left:0;
    margin-right:0;
}
body {
    background-color: ghostwhite;
}
.card {
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    border: 0 solid transparent;
    margin-top: 1.875em;
}
.card-header {
    font-size: 18px;
    color: #455a64;
}
.navbar {
    position: sticky;
    height: 70px;
}
.container-fluid {
    padding-right: 1.875em;
    padding-left: 1.875em;
}
.wall-color {
    background-color: ghostwhite;
}

.sm-col-card {
    min-height: 60px;
}
.sm-col-card .smc-icon {
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    left: 60px;
    top: 25px;
}
.sm-col-card .smc-content {
    margin-left: 100px;
}
.sm-col-card .smc-head {
    color: #455a64;
    font-size: 20px;
}
.sm-col-card .smc-text {
    color: #99abb4;
    font-size: 14px;
}
.dib {
    display: inline-block;
}
.flat-color-1 {
    color: #216583;
}
.flat-color-1:hover {
    color: #caf2d7;
}
.flat-color-2 {
    color: #f76262;
}
.flat-color-3 {
    color: #fdef96;
}
.table {
    width: 100%;
    margin-bottom: 0.5rem;
    color: #212529;
}
/* untuk notification */
.indicator {
    content: '';
    position: absolute;
    top: 16px;
    right: 18px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ef172c;
    animation: .9s infinite beatHeart;
    transform-origin: center;
}

.navbar-right-top .nav-item .nav-link{
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #82849f;
}
.fa-exclamation-circle {
    color: #c93838;
}
.user-avatar-md {
    height: 32px;
    width: 32px;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    z-index: 0;
}
.col {
    z-index: auto;
}