    form {
        display: block;
        margin-top: 20px;
    }
    
    div {
        background-color: white;
        margin-top: 20px;
    }
    
    div.a {
        background-color: white;
        margin-top: 5px;
    }
    
    #myHeader {
        background-color: white;
        color: black;
        padding: 30px;
        text-align: center;
    }
    
    #myClass {
        background-color: white;
        color: black;
        padding: 30px;
        text-align: center;
    }